{% extends 'base.html' %}
{% load static %}
{% block title %} News {% endblock %}
{% block style %}
  <style>
   .articles {
     margin-left: 10px;
     margin-right: 10px;
   };
   .right {
     float: right;
   }
  </style>
{% endblock %}
{% block activenews %}active{% endblock %}
{% block content %}
  <div class="articles segment">
    <h2 class="large header">{{ item.title }}</h2>
    {% autoescape off %}
    <p>{{ item.summary }}</p>
    {% endautoescape %}
  </div>
{% endblock %}
