{% load i18n %}
<html {% block app %}{% endblock %}>
	<head><title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/dist/semantic.min.css">
		<link rel="stylesheet" href="/dist/base.css">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
		{% block style %} {% endblock %}
		{% block scripthead %} {% endblock %}
	</head>
	<body>
		<div class="ui main pointing menu">
			<div class="header item">
				PonyWeb
			</div>
			<a class="{%if mode == "home"%}active{%endif%} item" {%if mode != "home"%}href="{%url 'pw.views.home'%}"{%endif%}>
				<i class="home icon"></i>{% trans "Home" %}
			</a>
			<a class="{%if mode == "news"%}active{%endif%} item" {%if mode != "news"%}href="{%url 'pw.views.news'%}"{%endif%}>
				<i class="newspaper icon"></i>{% trans "Blog posts" %}
			</a>
			<a class="{% if mode == "pictures" %}active{% endif %} item">
				<i class="camera retro icon"></i>{% trans "Pictures" %}
			</a>
			<a class="{% if mode == "stories" %}active{% endif %} item">
				<i class="book icon"></i>{% trans "Stories" %}
			</a>
			<a class="{% if mode == "music" %}active{% endif %} item">
				<i class="sound icon"></i>{% trans "Music" %}
			</a>
			{% block addmenu %} {% endblock %}
			<div class="menu right">
				{% if not user.is_authenticated %}
					<a class="{% if mode == "login" %}active{% endif %} item" {% if mode != "login" %}href="{% url 'pw.views.log_in' %}"{% endif %}>
						Log in
					</a>
					<a class="{% if mode == "signup"%}active{% endif %} item" {% if mode != "signup"%}href="{% url 'pw.views.signup'%}"{% endif %}>
						Sign up
					</a>
				{% else %}
					<a class="item right" href="{% url 'pw.views.log_out' %}">
						Log out
					</a>
					<a class="{%if mode == "account"%}active{%endif%} item" {% if mode != "account" %}href="{%url 'pw.views.account' %}"{% endif %}>
						Edit my Profile
					</a>
					<a class="{%if mode == "self"%}active{%endif%} item" {%if mode != "self"%}href="{% url 'pw.views.view_account' request.user.username %}"{%endif%}>
						My Profile
					</a>
				{% endif %}
			</div>
		</div>
		<div class="ui grid">
			{% block secondarymenu %}
			{% endblock %}
			<div class="row padding-reset">
				<div class="column">
					{% block content %}

					{% endblock %}
				</div>
			</div>
		</div>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="/dist/semantic.min.js"></script>
		{% block script %} {% endblock %}
	</body>
</html>
