{% extends 'base.html' %}
{% load static %}
{% block title %} News {% endblock %}
{% block style %}
  <style>
   .articles {
     margin-left: 10px;
     margin-right: 10px;
   };
   .right {
     float: right;
   }
  </style>
{% endblock %}
{% block activenews %}active{% endblock %}
{% block content %}
  <div class="articles">
      <div class="ui divided list">
	{% for item in EQD %}
	  <div class="item">
	      <img class="ui avatar image" src="{{ item.image }}"/>
	      <div class="content">
		<a class="header" href="{% url "pw.views.article" item.id %}">{{ item.title }}</a>
	      </div>
	  </div>
	{% endfor %}
      </div>
    </div>
{% endblock %}
