{% extends 'base.html' %}
{% load pw_extras %}
{% block title %} Home {% endblock %}
{% block activehome %}active{% endblock %}
{% block content %}
  <div class="ui segment">
    <h2 class="ui header">Hi !</h2>
    <p>Welcome to PonyWeb, a web reader.</p>
    <p>This is the first version, but you can already do a few things. Like see RSS feeds. Or watch some artworks, read stories, so on and so forth.</p>
    <p>If you wish to add a specific website to the ones supported by PonyWeb, or add a feature, please feel free to contact me, and I'll see what I can do. My profile is here :  {{ "CoiledSpring"|userize }}.</p>
  </div>
{% endblock %}
