{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block activelogin %}active{% endblock %}
{% block style %}
	<style>
	#form-div {
		margin-right: 15%;
		margin-left: 15%;
	}
	</style>
{% endblock %}
{% block content %}
	{% if error %}
		<div class="ui negative message" id="form-div">
			<div class="header">
				This user account does not exist, or the password is incorrect.
			</div>
		</div>
	{% endif %}
	{% if user.is_authenticated %}

	{% else %}
		<div class="ui segment two column middle aligned stackable grid" id="form-div">
			<div class="column">
				<form method="post" action="/login{% if next %}?next={{ next }}{% endif %}" class="ui form" >
					{% csrf_token %}
					<div class="required field">
						<label>Username</label>
						<div class="ui icon input">
							<input id="id_username" maxlength="30" name="username" type="text" placeholder="Username"/>
							<i class="icon user"></i>
						</div>
					</div>
					<div class="required field">
						<label>Password</label>
						<div class="ui icon input">
							<input id="id_password" name="password" type="password" placeholder="Password"/>
							<i class="lock icon"></i>
						</div>
					</div>
					<input type="submit" value="Login" class="ui submit button"/>
				</form>
			</div>
			<div class="ui vertical divider">OR</div>
			<div class="center aligned column">
				<a href="/signup">
					<div class="huge green ui labeled icon button">
						<i class="signup icon"></i>
						Sign Up
					</div>
				</a>
			</div>
		</div>
	{% endif %}
{% endblock %}
