{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Modify your Account" %}{% endblock %}
{% block style %}
<style>
#main-div {
	margin-right: 20%;
	margin-left : 20%;
}
</style>
{% endblock %}
{% block content %}
<div id="main-div">
	{% if error == "bad_password" %}
	<div class="ui warning message">
		<div class="header">{% trans "Bad password !" %}</div>
		<div class="content">{% trans "The password you entered is incorrect." %}</div>
	</div>
	{% elif error == "no_password" %}
	<div class="ui warning message">
		<div class="header">No password !</div>
		<div class="content">{% trans "You <u>must</u> enter your current password in order to modify your account." %}</div>
	</div>
	{% elif error == "different_passwords" %}
	<div class="ui warning message">
		<div class="header">{% trans "Different passwords" %}</div>
		<div class="content">{% trans "The two passwords fields must be identical" %}</div>
	</div>
	{% elif error == "none" %}
	<div class="ui positive message">
		<div class="header">{% trans "Success" %}</div>
		<div class="content">{% trans "Your infos have been modified." %}</div>
	</div>
	{% endif %}
	<div class="ui segment">
		<div class="ui dividing header">{% trans "Modify your Account" %}</div>
		<form class="ui form" action="/account/" method="post">
			{% csrf_token %}
			<div class="two fields">
				<div class="field">
					<label>{% trans "First name" %}</label>
					<input name="first_name" placeholder='{% trans "First name" %}' value="{{ request.user.first_name }}">
				</div>
				<div class="field">
					<label>{% trans "Last name" %}</label>
					<input name="last_name" placeholder='{% trans "Last name" %}' value="{{ request.user.last_name }}">
				</div>
			</div>
			<div class="field">
				<label>{% trans "Gender" %}</label>
				<div class="ui selection dropdown">
					<input name="gender" type="hidden" value={{ profile.gender }}>
					<div class="default text">{% trans "Gender" %}</div>
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item" data-value=1><i class="icon woman"></i>{% trans "Woman" %}</div>
						<div class="item" data-value=3><i class="icon man"></i>{% trans "Man" %}</div>
						<div class="item" data-value=0><i class="icon neuter"></i>{% trans "Other" %}</div>
						<div class="item" data-value=5><i class="icon remove"></i>{% trans "I don't want to say it." %}</div>
					</div>
				</div>
			</div>
			<div class="field">
				<label>{% trans "Twitter account" %}</label>
				<div class="ui labeled icon input">
					<div class="ui label">@</div>
					<input name="twitter" placeholder='{% trans "Twitter account" %}' value="{{profile.twitter}}">
					<i class="icon twitter"></i>
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>{% trans "New password" %}</label>
					<div class="ui icon input">
						<input type="password" name="new_password" placeholder='{% trans "New password" %}'>
						<i class="icon lock"></i>
					</div>
				</div>
				<div class="field">
					<label>{% trans "Repeat the new password" %}</label>
					<div class="ui icon input">
						<input type="password" name="new_password2" placeholder='{% trans "New password … again" %}'>
						<i class="icon lock"></i>
					</div>
				</div>
			</div>
			<div class="ui divider"></div>
			<div class="field">
				<label>{% trans "Current password" %}</label>
				<div class="ui icon input">
					<input type="password" name="password" placeholder='{% trans "Current Password" %}'>
					<i class="icon lock"></i>
				</div>
			</div>
			<input type="submit" value='{% trans "Submit" %}' class="ui submit button" />
		</form>
	</div>
	<div class="ui segment">
		<div class="ui dividing header">{% trans "Change language" %}</div>
		<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
			<input name="next" type="hidden" value="{{ redirect_to }}" />
			<select name="language">
				{% get_current_language as LANGUAGE_CODE %}
				{% get_available_languages as LANGUAGES %}
				{% get_language_info_list for LANGUAGES as languages %}
				{% for language in languages %}
				<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
					{{ language.name_local }} ({{ language.code }})
				</option>
				{% endfor %}
			</select>
			<input type="submit" value="Go" />
		</form>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
window.onload = function() {
	$('.dropdown').dropdown({transition: 'fade up'});
	$('.ui.checkbox').checkbox();
}
</script>
{% endblock %}
