{% extends 'news.html' %}
{% block app %}ng-app="News"{% endblock %}
{% block content %}
	<div class="ui items" ng-controller="NewsController as news">
		<div class="item">
			<div class="content">
				<a class="header">Your Latest News</a>

			</div>
		</div>
		<div class="item">
			<div class="content">
				<a class="header">The Latest News</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripthead %}
	<script src="/dist/js/news.js"></script>
{% endblock %}
