{% extends 'base.html' %}
{% block title %}News{% endblock %}
{% block secondarymenu %}
	<div class="ui secondary pointing menu fluid">
		<a class="item {% if submode == "home" %}active{% endif %}" {% if submode != "home" %}href="/news"{% endif %}>
			<i class="icon home"></i>Home
		</a>
		<a class="item {% if submode == "subscriptions" %}active{% endif %}" {% if submode != "subscriptions" %}href="/news/subscriptions"{% endif %}>
			<i class="icon inbox"></i>My Subscriptions
		</a>
		<div class="right menu">
			<a class="right item {% if submode == "write" %}active{% endif %}" {% if submode != "write" %}href="/news/write"{% endif %}>
				<i class="icon write"></i>Write a News
			</a>
		</div>
	</div>
{% endblock %}
