{% extends 'base.html' %}
{% load i18n %}
{% block title %}Sign up{% endblock %}
{% block activesignup %}active{% endblock %}
{% block style %}
	<style>
	#taille {
		margin-right: 20%;
		margin-left:  20%;
	}
	</style>
{% endblock %}
{% block content %}
	{% if error %}
		<div class="ui warning message" id="taille">
			{% blocktrans %}Either this username is already taken, or the passwords aren't the same.{% endblocktrans %}
		</div>
	{% endif %}
	<div class="ui segment" id="taille">
		<h1 class="ui center aligned dividing header">{% trans "Sign up" %}</h1>
		<form method="post" action="/signup" class="ui form" >
			{% csrf_token %}
			<div class="two fields">
				<div class="required field">
					<label>{% trans "Username" %}</label>
					<div class="ui icon input">
						<input maxlength="30" name="username" type="text" placeholder='{% trans "Username"}'/>
						<i class="icon user"></i>
					</div>
				</div>
				<div class="field">
					<div class="two fields">
						<div class="field">
							<label>{% trans "First name" %}</label>
							<input id="id_first_name" name="first_name" type="text" placeholder='{% trans "First name" %}'>
						</div>
						<div class="field">
							<label>{% trans "Last name" %}</label>
							<input id="id_last_name" name="last_name" type="text" placeholder='{% trans "Last name" %}'>
						</div>
					</div>
				</div>
			</div>
			<div class="required field">
				<label>{% trans "Email adress" %}</label>
				<div class="ui input icon">
					<input name="email" type="text" placeholder='{% trans "Email adress" %}'>
					<i class="mail icon"></i>
				</div>
			</div>
			<div class="field">
				<label>{% trans "Gender" %}</label>
				<div class="ui selection dropdown">
					<input name="gender" type="hidden">
					<div class="default text">{% trans "Gender" %}</div>
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item" data-value="man"><i class="icon man"></i>{% trans "Man" %}</div>
						<div class="item" data-value="woman"><i class="icon woman"></i>{% trans "Woman" %}</div>
						<div class="item" data-value="inter"><i class="icon intergender"></i>{% trans "Other" %}</div>
						<div class="item" data-value="none"><i class="icon remove"></i>{% trans "I don't want to say it." %}</div>
					</div>
				</div>
			</div>
			<div class="two fields">
				<div class="required field">
					<label>{% trans "Password" %}</label>
					<div class="ui icon input">
						<input id="id_password1" name="password1" type="password" placeholder='{% trans "Password" %}'>
						<i class="icon lock"></i>
					</div>
				</div>
				<div class="required field">
					<label>{% trans "Repeat password" %}</label>
					<div class="ui icon input">
						<input id="id_password2" name="password2" type="password" placeholder='{% trans "Password… again" %}'>
						<i class="icon lock"></i>
					</div>
				</div>
			</div>
			<div class="field">
				<div class="ui checkbox">
					<input id="id_terms" name="terms" type="checkbox">
					<label>{% blocktrans %}I agree to the <a href="/tos">Terms of Service</a>{% endblocktrans %}</label>
				</div>
			</div>
			<div class="ui submit button">{% trans "Sign up" %}</div>
		</form>
	</div>
{% endblock %}
{% block script %}
	<script>
	window.onload = function() {
		$('.dropdown').dropdown({transition: 'fade up'});
		$('.ui.checkbox').checkbox();
		$('.ui.form').form({
			username: {
				identifier:"username",
				rules: [{
					type: 'empty',
					prompt:"Please enter a username"
				}]},
			email: {
				identifier:"email",
				rules: [{
					type: 'empty',
					prompt:"Please enter your email"
				},{
					type: 'email',
					prompt:"Please enter a correct email address."
				}]},
			gender: {
				identifier:"gender",
				rules: [{
					type: "empty",
					prompt:"Please fill this field"
				}]
			},
			password1: {
				identifier:"password1",
				rules: [{
					type: 'empty',
					prompt:"Please enter a password"
				}]},
			password2: {
				identifier:"password2",
				rules: [{
					type: 'empty',
					prompt:"This field needs to be filled."
				},{
					type: 'match[password1]',
					prompt:"The two passwords field don't match"
				}]},
			terms: {
				identifier:"terms",
				rules: [{
					type:"checked",
					prompt:"You need to accept the Terms."
				}]}
			});
	};
	</script>
{% endblock %}
