{% extends 'base.html' %}
{% block title %}Terms of Service{% endblock %}
{% block style %}
	<style>
	#taille {
		margin-right: 20%;
		margin-left:  20%;
	}
	</style>
{% endblock %}
{% block content %}
	<div class="ui segment" id="taille">
		<h1 class="ui center aligned dividing header">Terms of Service</h1>
		<div class="ui ordered list">
			<div class="item">You shall not use this service to blow up France. Or another country. But particulary France.</div>
			<div class="item">You shall not kill any member of the staff.</div>
			<div class="item">You shall not pass.</div>
		</div>
		<div>
			If you respect all these points, you'll probably be fine.
		</div>
	</div>
{% endblock %}
