{% extends 'base.html' %}
{% load pw_extras %}
{% block title %}{{ news.title }}{% endblock %}
{% block content %}
	<h2 class="ui dividing header">{{ news.title }}<div class="sub header"> by {{ news.author|userize }}</div></h2>
	{% autoescape off %}
		{{ news.content }}
	{% endautoescape %}
{% endblock %}
