{% extends 'base.html' %}
{% load pw_extras %}
{% load humanize %}
{% block style %}
	<style>
	@media screen and (max-width: 767px){

	}
	@media screen and (min-width: 767px){
		#main-div {
			margin-right: 20%;
			margin-left:  20%;
		}
	}
	</style>
{% endblock %}
{% block title %}
	{% if notfound %}Not found
	{% else %}{{ profile.user.username }}
	{% endif %}
{% endblock %}
{% block addmenu %}
	{% if mode != "self" %}
		<div class="ui item active">
			<i class="ui icon user"></i>{{ profile.user.username }}
		</div>
	{% endif %}
{% endblock %}
{% block content %}
	{% if notfound %}
		<div class="ui segment" id="main-div">
			<div class="ui dividing header">Not found</div>
			This user does not exist.
		</div>
	{% else %}
		<div id="main-div">
			<div class="ui segment">
				<div class="ui dividing header">
					{{ profile.user.username }}
					<div class="ui tiny button right floated">Follow</div>
				</div>
				Name: {{ profile.user.first_name }} {{ profile.user.last_name }}<br />
				Gender: <i class="icon {% if profile.gender == 0 %}neuter{% elif profile.gender == 1 %}woman{% elif profile.gender == 2 %}man{% elif profile.gender == 3 %}remove{% endif %}"></i><br />
				Joined: {{ profile.user.date_joined|naturalday:"DATE_FORMAT" }}<br />
				Last connected: {{profile.user.last_login|naturaltime}}<br/>
				{% if profile.presentation %}
					Presentation: {{ profile.presentation }}<br />
				{% endif %}
				How you can find them : <br />
				{% if profile.twitter != "" %}
					<i class="icon twitter"></i>{{ profile.twitter|twitterize }}<br />
				{% else %}
					Not on Twitter :-(
				{% endif %}
				{% if profile.show_mail %}
					<i class="icon mail"></i>{{ profile.user.email|urlize }}<br />
				{% else %}
					You cannot send them mail :-(
				{% endif %}
			</div>
			<div class="ui segment">
				<div class="ui dividing header">Newers they follow</div>
				{% for i in following_news %}
					{{ i.user.username|userize }}<br />
				{% endfor %}
			</div>

		</div>
	{% endif %}
{% endblock %}
