{% extends 'news.html' %}
{% block title %}Write{% endblock %}
{% block content %}
		<h1 class="ui dividing header center aligned">Write a news</h1>
		<form class="ui form" method="post" action="/news/write">
			{% csrf_token %}
			<div class="ui required field">
				<input maxlength="200" name="title" type="text" placeholder="Title">
			</div>
			<div class="ui required field">
				<textarea name="content" placeholder="Content"></textarea>
			</div>
			<input type="submit" value="Submit" class="ui submit button">
		</form>
{% endblock %}
